<article *ngIf="doctor" class="doctor-card">
  <div class="doctor-img">
    <img [src]="'/assets/images/doctors/' + doctor.id + '.jpg'" [alt]="doctor.name">
  </div>
  <div class="doctor-details">
    <h3 class="name">{{ doctor.name }}</h3>
    <p *ngIf="doctor?.speciality" class="speciality">{{ doctor.speciality }}</p>
    <ul>
      <li>
        <div class="icon">
          <img src="/assets/images/icons/pharmacy.png" alt="">
        </div>
        <span>{{ doctor.org }}</span>
      </li>
      <li>
        <div class="icon clock">
          <img src="/assets/images/icons/clock.png" alt="">
        </div>
        <span>Available on {{ availabilities?.join(', ') }}.</span>
      </li>
    </ul>

    <a [routerLink]="'booking-details/' + doctor.id"
       [state]="doctor" class="book-btn">Book Now</a>
  </div>
</article>
